*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root{
  /* body color and text */
  --bodyColor: #333;
  /* navbar */
  --bgColor:#2980b9;
  --textColor: #fff;
  /* border */
  --borderBottom: #b4becb;
  /* colors for api */
  --greenColor: #1abc9c;
  --blueColor: #3498db;
  --redColor: #c0392b;
}
body{
  font-family: 'Lexend', sans-serif;
  color: var(--bodyColor);
  line-height: 1.6;
}
ul{
  list-style: none;
}
.links{
  text-decoration: none;
  color: var(--bodyColor);
}
h1,h2{
  font-weight: 300;
  line-height: 1.2;
  margin: 1rem 0;
  color: var(--bodyColor);
}
p{
  margin: 1rem 0;
}
img{
  width: 100%;
}

.navbar{
background: var(--bgColor);
color: var(--textColor);
height: 5rem;
}
.navbar ul{
  display: flex;
}
.navbar .links{
  color: var(--textColor);
  padding: 0.625rem;
  margin: 0 0.313rem;
}
.navbar .flex{
  justify-content: space-between;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  
}



/* Mobile */
@media(max-width: 500px){
  .navbar{
    height: 6.875rem;
  }
  .navbar .flex{
    flex-direction: column;
  }
  .navbar ul{
    padding: 0.625rem;
    background: rgba(0, 0, 0, 0.1);
  }
}